annotated-types==0.7.0
    # via pydantic
blinker==1.8.2
    # via flask
click==8.1.7
    # via flask
flask==3.0.3
    # via -r requirements.in
itsdangerous==2.2.0
    # via flask
jinja2==3.1.4
    # via flask
markupsafe==2.1.5
    # via
    #   jinja2
    #   werkzeug
pydantic==2.7.4
    # via
    #   -r requirements.in
    #   pydantic-settings
pydantic-core==2.18.4
    # via pydantic
pydantic-settings==2.3.3
    # via -r requirements.in
python-dotenv==1.0.1
    # via pydantic-settings
typing-extensions==4.12.2
    # via
    #   pydantic
    #   pydantic-core
werkzeug==3.0.3
    # via flask
