services:

  #===============================================================
  #                         APPLICATIONS
  #===============================================================
  admin_panel:
    restart: always
    build: ../images/admin-panel/
    command: >
      sh -c "cd /app/src/
      && mkdir -p media
      && uv run manage.py collectstatic --noinput
      && uv run manage.py migrate --noinput
      && uv run manage.py createsuperuser --noinput || true
      && uv run gunicorn --reload -c ../infra/gunicorn/gunicorn_config.py config.wsgi:application"
    ports:
      - "8000:8000"
    environment:
      - "DJANGO_SUPERUSER_USERNAME=${MOVIES_DJANGO_SUPERUSER_USERNAME}"
      - "DJANGO_SUPERUSER_EMAIL=${MOVIES_DJANGO_SUPERUSER_EMAIL}"
      - "DJANGO_SUPERUSER_PASSWORD=${MOVIES_DJANGO_SUPERUSER_PASSWORD}"
      - "SECRET_KEY=${SECRET_KEY}"
      - "DEBUG=False"
      - "DB_NAME=${MOVIES_DB_NAME}"
      - "DB_USER=${MOVIES_DB_USER}"
      - "DB_PASSWORD=${MOVIES_DB_PASSWORD}"
      - "DB_HOST=movies_db"
      - "DB_PORT=5432"
    depends_on:
      - movies_db

  movies_api:
    restart: always
    build: ../images/async-api/
    command: >
      sh -c "cd /app/src/
      && uv run main.py"
    environment:
      - "FASTAPI_PORT=3000"
      - "ELASTIC_HOST=elastic"
      - "ELASTIC_PORT=9200"
      - "REDIS_HOST=redis"
      - "REDIS_PORT=6379"
      - "REDIS_DB=1"
    expose:
      - "3000"
    ports:
      - "3000:3000"
    depends_on:
      elastic:
        condition: service_healthy
      redis:
        condition: service_healthy

  auth:
    restart: always
    build: ../images/auth/
    command: >
      sh -c "uv run alembic upgrade head
      && cd /app/src/
      && uv run main.py"
    expose:
      - "5000"
    ports:
      - "5000:5000"
    environment:
      - "JWT_SECRET_KEY=${JWT_SECRET_KEY}"
      - "SECRET_KEY=${SECRET_KEY}"
      - "FASTAPI_PORT=5000"
      - "DEBUG=False"
      - "DB_NAME=${AUTH_DB_NAME}"
      - "DB_USER=${AUTH_DB_USER}"
      - "DB_PASSWORD=${AUTH_DB_PASSWORD}"
      - "DB_HOST=auth_db"
      - "DB_PORT=5432"
      - "REDIS_HOST=redis"
      - "REDIS_PORT=6379"
      - "REDIS_DB=1"

  movies_ugc:
    restart: always
    build: ../images/ugc/
    command: >
      sh -c "cd /app/src/
      && uv run main.py"
    environment:
      - "FASTAPI_PORT=4000"
      - "MONGO_PORT=27017"
      - "DEBUG=False"
      - "JWT_SECRET_KEY=${JWT_SECRET_KEY}"
    expose:
      - "4000"
    ports:
      - "4000:4000"
    depends_on:
      mongo:
        condition: service_healthy

  #===============================================================
  #                          DATASTORES
  #===============================================================
  elastic:
    image: elasticsearch:9.2.0
    expose:
      - "9200"
    ports:
      - "9200:9200"
    environment:
      - "discovery.type=single-node"
      - "xpack.security.enabled=false"
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
    healthcheck:
      test: curl -s http://elastic:9200 >/dev/null || exit 1
      interval: 5s
      timeout: 5s
      retries: 100

  movies_db:
    build: ../images/admin-panel/infra/postgres/
    restart: always
    ports:
      - "5432:5432"
    environment:
      - "POSTGRES_DB=${MOVIES_DB_NAME}"
      - "POSTGRES_USER=${MOVIES_DB_USER}"
      - "POSTGRES_PASSWORD=${MOVIES_DB_PASSWORD}"
    volumes:
        - movies_db_volume:/var/lib/postgresql/data/
    healthcheck:
      test: pg_isready --dbname=${MOVIES_DB_NAME} --username=${MOVIES_DB_USER}
      interval: 5s
      timeout: 5s
      retries: 100

  auth_db:
    image: postgres:16-alpine
    restart: always
    ports:
      - "5433:5432"
    environment:
      - "POSTGRES_DB=${AUTH_DB_NAME}"
      - "POSTGRES_USER=${AUTH_DB_USER}"
      - "POSTGRES_PASSWORD=${AUTH_DB_PASSWORD}"
    volumes:
        - auth_db_volume:/var/lib/postgresql/data/
    healthcheck:
      test: pg_isready --dbname=${AUTH_DB_NAME} --username=${AUTH_DB_USER}
      interval: 5s
      timeout: 5s
      retries: 100

  mongo:
    image: mongo:8.0.1
    ports:
      - "27017:27017"
    healthcheck:
      test: echo 'db.runCommand("ping").ok'
      interval: 5s
      timeout: 5s
      retries: 100

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: redis-cli ping
      interval: 5s
      timeout: 5s
      retries: 100

  kibana:
    image: kibana:8.13.0
    ports:
      - "5601:5601"
    environment:
      - "ELASTICSEARCH_HOSTS=http://elastic:9200"
    depends_on:
      elastic:
        condition: service_healthy

  nginx:
    image: nginx:1.21-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - ./logs/nginx:/var/log/nginx
    ports:
      - "80:80"
    depends_on:
      - movies_api

volumes:
  movies_db_volume:
  auth_db_volume:
