# FastAPI
fastapi==0.111.0

# Pydantic
pydantic==2.7.4
pydantic-settings==2.3.3

# Database
redis==5.0.3

# Elasticsearch
elasticsearch[async]==8.13.0

# Tools
uvicorn[standard]==0.28.0
orjson==3.10.0
